#walrus-showing {
  display: none;
}

#cat-showing {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.fading {
  cursor: pointer;
  color: #990000;
}

.fading:hover {
  text-decoration: underline;
}
