#walrus-showing {
  display: none;
}

#cat-showing {
  display: none;
}

#dog-down {
  display: none;
}

.clickable {
  cursor: pointer;
  color: #0088cc;
}

.clickable:hover {
  text-decoration: underline;
}

.fading {
  cursor: pointer;
  color: #990000;
}

.fading:hover {
  text-decoration: underline;
}

.slide {
  cursor: crosshair;
  color: #0066ff;
}

.slide:hover {
  text-decoration: underline;
}
